#contact{
    display: table;
}

.groupform {
    display: block;
    /* grid-template-columns: 1fr 1fr;
    grid-row: 3 !important;
    grid-row-gap: 2vh; */
}

form > h2 {
    text-align: center !important;
}

.groupform input {
    margin-bottom: 2vh;
    margin-left: 2vw;
    width: 20vw;
    height: 7vh;
}

.groupform input[type="text"], .groupform input[type="email"], .groupform textarea {
    display: block;
    border: 2px solid var(--overlay-color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-left-radius: 7px;
    background: var(--primary-color);
}

.groupform textarea {
    width: 20.8vw;
    margin-left: 2vw;
}

button[type="submit"] {
    margin-top: 2vh;
    margin-left: -1.5vw;
    text-decoration: none;
    border: 2px solid var(--overlay-color); 
    border-radius: 8px;
    background: var(--primary-color);
    font-size: 1.2rem;
    width: 8vw;
    height: 8vh;
}

button[type="submit"]:hover {
    background: var(--overlay-color);
    cursor: pointer;
}

button[type="submit"]:active {
    background: var(--overlay-color);
    color: var(--primary-color);
    cursor: pointer;
}

.groupform input::placeholder, .groupform textarea::placeholder {
    color: white;
    padding: 2vw;
    padding-top: 1vw;
}

#contact h6 {
    margin-left: -1.4vw;
    letter-spacing: .1vw;
}

#contact h6 a {
    color: var(--overlay-color);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1024px), (min-width: 769px){
    .groupform input {
        width: 20rem;
        height: 7vh;
    }
}

@media only screen and (max-width: 768px){
    .groupform input {
        width: 20rem;
        height: 7vh;
    }
} 


